body {
  font-family: sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  display: flex;
  padding: 20px;
  min-width: 320px;
  min-height: 100v;
}

.container {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  gap: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.3em;
  font-size: 1em;
  color: white;
  font-weight: 500;
  font-family: inherit;
  background-color: #828282;
  cursor: pointer;
  transition: border-color 0.25;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}